.saas-work-content{
	position: relative;
	margin-left: 361px;
	background: #fff;
	margin-top: 70px;
}
.work-content-1 .work-ul{
	padding: 0 24px;
	overflow-y: auto;
	height: 860px;
}
.work-content-1 .work-ul li{
	width: 100%;
	height: 180px !important;
	border: 1px solid #d0d0d0;
	border-radius: 5px;
	margin-bottom: 20px;
	cursor: pointer;
	position: relative;
	margin-top:5px;
}
.work-content-1 .work-top{
	padding-left:24px;
    border-bottom: 1px solid #d0d0d0;
    margin-top: 70px;
}
.work-content-1 .work-top p{
    margin-bottom: 0;
    line-height:50px;
}
.work-content-1 .work-ul li > span{
	display: block;
	right: 14px;
	top: 6px;
    position: absolute;
    color: #2d8fd7;
}
.work-content-1 .work-ul li>div:first-child{
	width: 100%;
	overflow: hidden;
}
.work-content-1 .work-ul li>div:first-child div:first-child{
	width: 50px;
	float: left;
}
.work-content-1 .work-ul li>div:first-child div:last-child{
	float: left;
	margin-top: 10px;
	margin-left: 20px;
	max-width:80%;
}
.work-content-1 .work-ul li>div:nth-child(2){
	padding:8px 20px 0 24px;
	line-height: 22px;
	height: 110px !important;
	overflow: hidden;
	text-indent: 2em;
	color:#555;
	word-wrap:break-word;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.work-content-1 .work-ul li>div:first-child div:last-child p:first-child{
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}
.work-content-1 .work-ul li>div:first-child div:last-child p:last-child{
	color: gray;
	font-size: 15px;
	margin: 2px 0 0 0 ;
}
.work-content-1 .work-ul li>div:first-child div:first-child img{
	width: auto;
	height: auto;
	display: block;
	margin-left: 10px;
	margin-top: 10px;
}
.saas-work-left ul li a{
    display: block;
}
.flright{float: right}
.report-tt {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    padding-left: 20px;
    border-bottom: 1px solid #D2D2D2;
}
.report-tt .bd {
    width: 2px;
    background:#277BCF;
    display: inline-block;
    height: 16px;
    margin-top: 16px;
    margin-right: 20px;
    vertical-align: top;
}
.btnbox{width: 70px;margin: 10px auto;cursor: pointer}
/*假期规则维护 by mq on 2017-05-11*/
.addHoliday{width: 770px;height: auto;padding: 20px}
.addHoliday li{float: left;width: 50%;height: 30px;margin: 10px 0;line-height: 30px;position: relative;}
.addHoliday li label{width: 38%;height:30px;overflow: hidden;display: block;float: left}
.addHoliday li input,.addHoliday li select {width: 46%;overflow: hidden;border:1px solid #ddd;display: inline-block ;height: 30px; border-radius: 5px;margin:0;margin-right: 3px; text-indent: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;padding: 0;outline: none}
.addHoliday li label i{color: red;float: none;display: inline;}
.addHoliday li .select-values{position: absolute;top:40px;width: 46%;height:auto; max-height: 100px;overflow: auto; background: #FAFAFA;box-shadow: 0 2px 5px #999999;-moz-box-shadow: 0 2px 5px #999999;-webkit-box-shadow: 0 2px 5px #999999; -o-box-shadow: 0 2px 5px #999999;display: none;left: 36%;z-index: 10}
.addHoliday li .select-values p{padding-left: 20px;cursor: pointer;}
.addHoliday li .select-values p:hover{background: #eee}
.saveBtn{width: 80px;height: 32px;background: var(--color-main);text-align: center;line-height: 32px;cursor: pointer; color: #fff;margin: 0 auto 20px;border-radius: 6px}
.down-load{cursor: pointer;}
.offsbox{width: 600px;height: auto;padding: 20px;}
.offsbox p{width: 100%;height: 40px;line-height: 40px;border-bottom: 1px solid #ddd;border-left: 1px solid #ddd;}
.offsbox p:first-child{border-top: 1px solid #ddd;}
.offsbox p span{width: 25%;height:40px;display: inline-block;border-right: 1px solid #ddd;overflow: hidden;text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
     -webkit-appearance: none !important;
     margin: 0;
 }