#password{background: #E9ECF0;height: 100%;}    
header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    text-align: center;
    background: #277BCF;
    position: fixed;
    top: 0px;
    z-index: 8;
}
.saas-logo {
    float: left;
    height: 100%;
}
.saas-logo p:first-child {
    line-height: 16px;
    margin: 15px 10px 0 10px;
}
.saas-logo p:last-child {
    border-left: 1px solid #fff;
    margin-top: 25px;
    line-height: 24px;
    padding-left: 8px;
}
.saas-logo p {
    float: left;
    color: #fff;
}

.register {
    width: 1100px;
    position: relative;
    margin: 0px auto;
    top: 110px;
    background: #fff;
}
.findPwdLine{
    width: 100%;
    height: 10px;
    background: #277BCF;
}
.register>div {
    width: 700px;
    margin: 0 auto;
}
.register-top {
    width: 100%;
    height: 90px;
    position: relative;
}
.register-top p:first-child {
    margin-top: 50px;
}

.register-top p img {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.register img {
    width: auto;
    height: auto;
}

.register-top p:nth-child(2) span:nth-child(1) {
    left: 20px;
    color: #000;
}
.register-top p:nth-child(2) span {
    display: block;
    position: absolute;
    top: 45px;
    color: #9C9C9C;
}
.register-top p:nth-child(2) span:nth-child(2) {
    left: 317px;
}

.register-top p:nth-child(2) span {
    display: block;
    position: absolute;
    top: 45px;
    color: #9C9C9C;
}
.register-top p:nth-child(2) span:nth-child(3) {
    right: 38px;
}

.register-top p:nth-child(2) span {
    display: block;
    position: absolute;
    top: 45px;
    color: #9C9C9C;
}
.register-top p:nth-child(3) span:nth-child(1) {
    position: absolute;
    left: 48px;
    top: 6px;
    font-size: 18px;
    color: #fff;
}

.register-top p:nth-child(3) span:nth-child(2) {
    position: absolute;
    left: 344px;
    top: 6px;
    font-size: 18px;
    color: #fff;
}

.register-top p:nth-child(3) span:nth-child(3) {
    position: absolute;
    right: 48px;
    top: 6px;
    font-size: 18px;
    color: #fff;
}
.forgetPassword-1 {
    display: block;
    width: 550px;
    margin: 60px auto 0;
}

.forgetPassword-1 div {
    width: 100%;
    position: relative;
}

.forgetPassword-1>div>p:first-child {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: #666666;
}
.forgetPassword-1>div:nth-child(1)>p:nth-child(2) {
    width: 350px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    margin-left: 20px;
}
.forgetPassword-1>div:nth-child(1)>p:nth-child(2) input {
    width: 340px;
}
.forgetPassword-1>div:nth-child(3)>p:nth-child(2) input {
    width: 230px;
}
.forgetPassword-1 div div p:first-child {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.forgetPassword-1 div div p:last-child {
    font-size: 14px;
}

.forgetPassword-1>div:nth-child(3)>p:nth-child(2) {
    width: 240px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    margin-left: 20px;
}

.forgetPassword-1>div:nth-child(3)>p:nth-child(3) {
    width: 100px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    margin-left: 10px;
}
.forgetPassword-1>div:nth-child(3)>p:nth-child(3) input {
    cursor: pointer;
    background: #e6e6e6;
}

.forgetPassword-1 div div {
    position: absolute;
    color: red;
    left: 490px;
    top: 15px;
}
.forgetPassword-1>input {
    display: block;
    width: 352px;
    height: 50px;
    float: right;
    margin-top: 50px;
    cursor: pointer;
    margin-right: 78px;
    background: #E6E6E6;
    color: #999999;
    font-size: 14px;
    border-radius: 5px;
}

.forgetPassword-1 div div {
    position: absolute;
    color: red;
    left: 490px;
    top: 15px;
}

.forgetPassword-1 div {
    width: 100%;
    position: relative;
}

.forgetPassword-1 div p input {
    height: 100%;
    border-radius: 4px;
    border: 0;
    padding-left: 10px;
    width: 100%;
    font-size: 12px;
}
.forgetPassword-1 div p {
    float: left;
}

.forgetPassword-2 {
    display: block;
    width: 550px;
    margin: 60px auto 0;
}
.forgetPassword-2 div {
    width: 100%;
    position: relative;
}
.forgetPassword-2>div>p:first-child {
    width: 100px;
    height: 50px;
    line-height: 50px;
    text-align: right;
    color: #666666;
}
.forgetPassword-2>div:nth-child(1)>p:nth-child(2) {
    width: 350px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    margin-left: 20px;
}
.forgetPassword-2>div:nth-child(1)>p:nth-child(2) input {
    width: 340px;
    font-size: 12px;
}
.forgetPassword-2 div div {
    position: absolute;
    color: red;
    left: 490px;
    top: 15px;
}
.forgetPassword-2 div div p:first-child {
    width: auto;
    height: auto;
    margin-right: 10px;
    margin-top: 2px;
}
.forgetPassword-2 div div p:last-child {
    font-size: 15px;
}
.forgetPassword-2>div:nth-child(3)>p:nth-child(2) {
    width: 350px;
    height: 50px;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    margin-left: 20px;
}
.forgetPassword-2>div:nth-child(3)>p:nth-child(2) input {
    width: 340px;
    font-size: 12px;
}
.forgetPassword-2>input {
    display: block;
    width: 352px;
    height: 50px;
    float: right;
    margin-top: 50px;
    cursor: pointer;
    margin-right: 78px;
    background: #E6E6E6;
    color: #999999;
    border-radius: 5px;
}
.forgetPassword-2 div div {
    position: absolute;
    color: red;
    left: 490px;
    top: 15px;
}
.forgetPassword-2 div {
    width: 100%;
    position: relative;
}
.forgetPassword-2 div p input {
    height: 100%;
    border-radius: 4px;
    border: 0;
    padding-left: 10px;
}
.forgetPassword-2 div p {
    float: left;
}

.forgetPassword-3 {
    width: 250px;
    margin: 30px auto;
}
.forgetPassword-3>p:nth-child(1)>img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
.forgetPassword-3>p:nth-child(2) {
    font-size: 22px;
    color: #666666;
    text-align: center;
    margin: 40px auto 50px;
}
.forgetPassword-3>p:nth-child(3) {
    text-align: center;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #277BCF;
    border-radius: 4px;
    margin: 0 auto;
    font-size: 14px;
}
.forgetPassword-3>p:nth-child(3) a {
    width: 100%;
    height: 100%;
    display: block;
    color: #fff;
}
.inactive{
    background-color: #999999;
}
.active{
    background-color: #277BCF !important;
    color: #fff;
    
}