<div id='password'>
		<input type="hidden" value="${contextPath}" name="contextPath">
		<header>
			<div class="saas-top" onclick="">
				<div class="saas-logo">
					<p><img style="height:auto !important" src="../../assets/images/u191.png"/></p>
					<p>找回密码</p>
				</div>
			</div>
		</header>
		<div class="register-box">
			<div class="register">
				<p class="findPwdLine"></p>
				<div>
					<div class="register-top">
						<p><img [src]="tImgUrl"/></p>
						<p>
							<span>验证手机</span>
							<span>重置密码</span>
							<span>完成</span>
						</p>
						<p>
							<span>1</span>
							<span>2</span>
							<span>3</span>
						</p>
					</div>
					<form #passwordform="ngForm" class="forgetPassword-1"  *ngIf='passwordState==1'>
						<div>
							<p>手机号码</p>
							<p><input maxlength="11" type="mobile" name="mobile" #mobile="ngModel" (keyup)='yzmobile()' [(ngModel)]='phone' required  value="" placeholder="请输入手机号"/></p>
							<div class='error' [hidden]='!pwderrorState' >
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p *ngIf='pwderrorState==1'>请输入手机号</p>
							</div>
							<div class='error' [hidden]='!pwderrorState'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p *ngIf='pwderrorState==2'>请输入正确的手机号</p>
							</div>
							<div class='error' [hidden]='!pwderrorState'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p *ngIf='pwderrorState==3'>用户不存在</p>
							</div>

						</div>
						<div style="height: 50px; clear: both;"></div>
						<div>
							<p>短信验证码</p>
							<p><input type=""  name="code" value="" #code="ngModel" required [(ngModel)]='yzm' placeholder="请输入验证码"/></p>
							<p><input type="button" [(ngClass)]="{true: 'active', false: 'inactive'}[isActive]" [disabled]="isdisabled" name="yzm" (click)="yzmCode(60)"  value="{{codeText}}"/></p>
							<div class='error' [hidden]='code.pristine || code.valid'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p>请输入验证码</p>
							</div>
							<div class='error' [hidden]='!codeerrorState'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p *ngIf='codeerrorState==1'>验证码输入错误</p>
							</div>
							<div class='error' [hidden]='!codeerrorState'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p *ngIf='codeerrorState==2'>验证码不一致</p>
							</div>
						</div>
						<input class="forgetPassword-href1" type="button"  [class.active]="passwordform.valid" [disabled]="!passwordform.valid" (click)='step1()' value="下一步"/>
						<div style="clear: both; height: 80px;"></div>
					</form>
					<form #qrpasswordform="ngForm" class="forgetPassword-2" *ngIf='passwordState==2'>
						<div>
							<p>设置密码</p>
							<p><input type="password "#qrpwd="ngModel" required [(ngModel)]='password'  name="password" value="" placeholder="请输入新密码"/></p>
							<div class='error' [hidden]='qrpwd.pristine || qrpwd.valid'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p>请输入新密码</p>
							</div>
						</div>
						<div style="height: 50px; clear: both;"></div>
						<div>
							<p>确认密码</p>
							<p><input type="password" #zcqrpwd="ngModel" required [(ngModel)]="zcpassword" name="repassword" value="" placeholder="请再次输入密码"/></p>
							<div class='error' [hidden]='zcqrpwd.pristine || zcqrpwd.valid'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p>请再次输入密码</p>
							</div>
							<div class='error' [hidden]='!zcpwdsturs'>
								<p><img src="../../assets/images/dsadhushosia (19).png"/></p>
								<p *ngIf='zcpwdsturs==1'>两次输入密码不一致</p>
							</div>
						</div>
						<input  class="forgetPassword-href2"  [class.active]="qrpasswordform.valid" [disabled]="!qrpasswordform.valid"  (click)='step2()'  type="button" value="下一步"/>
						<div style="clear: both; height: 80px;"></div>
					</form>
					<div class="forgetPassword-3" *ngIf='passwordState==3'>
						<p><img src="../../assets/images/dsadas.png"/></p>
						<p>密码已经重置成功！</p>
						<p><a [routerLink]="['/login']" >重新登录</a></p>
						<p style="height: 50px;"></p>
					</div>
				</div>
			</div>
		</div>
</div>