<div class="travelBook-right">
        <div class="daka">
            <div class="MyandAll MyandAll-Check">
                <div [ngClass]="{'mine-CheckIn':showSwitch,'all-CheckIn':!showSwitch}" (click)="showTable(true)">
                    <img *ngIf="showSwitch" src="../../../../../assets/images/bairen.png">
                    <img *ngIf="!showSwitch" src="../../../../../assets/images/qaitong.png">
                    <span>我的签到</span>
                </div>	
                <div [ngClass]="{'all-CheckIn':showSwitch,'mine-CheckIn':!showSwitch}" (click)="showTable(false)" style="margin-left:50px">
                    <img *ngIf="showSwitch" src="../../../../../assets/images/qaitong.png">
                    <img *ngIf="!showSwitch" src="../../../../../assets/images/bairen.png">
                    <span>签到统计</span>
                </div>		
            </div>
            
            <div class="CheckInBlock CheckInBlock-Check">
                <div class="MyCheckInBlock" *ngIf="showSwitch">
                    <div class="MyChooseList include clearfix">
                        <div>
                            <span>年月</span>
                             <input type="text" appDateDirective [(ngModel)]="searchData.searchtime" [datePickerOptions]='dateTimeOption' (selected)="dateSelected($event)"  readonly="readonly" />
                            <img src="../../../../../assets/images/open.png">
                        </div>
                      <!--
                        <div>
                            
                            <span>班组</span>
                            <select class="select" name="" id="">
                                <option value="">班组1</option>
                                <option value="">班组2</option>
                                <option value="">班组3</option>
                            </select>
                        </div>
                        
                        <div id="sumPanel">
                            <p><b>迟到</b>：<span>{{totalLate}}次</span></p>
                            <p><b>早退</b>：<span>{{totalEarly}}次</span></p>
                            <p><b>无记录</b>：<span>{{totalNoRecord}}次</span></p>
                            <p><b>未签退</b>：<span>{{totalNoexit}}次</span></p>
                        </div>-->
                    </div>
                   <app-sign-data  [giveChildSearch]='searchData'></app-sign-data>
                </div>
                <!--签到统计-->
                <div *ngIf="!showSwitch" class="AllCheckInBlock" style="min-width: 910px;">
                    <div class="MyChooseList include clearfix">
                        <div>
                            <span>年月</span>
                            <input type="text" appDateDirective [(ngModel)]="totaldata" [datePickerOptions]='dateTimeOption'  readonly="readonly" />
                            <img src="../../../../../assets/images/open.png">
                        </div>
                         
                        <div style="margin-right: 16px;">
                            <span>部门</span>
                            <select class="select" name="depart"  [(ngModel)]="departId" (ngModelChange)="setInfo($event)">
                                    <option [value]="-1">全部</option>
                                    <option [value]="0">未分组</option>
                                    <option *ngFor="let item of departList" [value]="item.id">{{item.allpath}}</option>                               
                            </select>
                        </div> 
                       <!-- <div style="margin-right: 16px;width:200px">
                                <span>班组</span>
                                <select class="select" name="" id="">
                                        <option value="">班组1</option>
                                        <option value="">班组2</option>
                                </select>
                        </div> 
                    -->
                        <div style="width: 160px;">
                            <span>员工</span>
                            <input style="width:100px" type="text" [(ngModel)]="emplayName" />
                        </div>
                        <div class="btn btn-primary w100" (click)="getSignList()" >查询</div>
                        <div class="btn btn-primary w100 ft14" style="margin-left:20px"  (click)="downLoad()" >下载</div>
                    </div>
               
                    <!-- <div class="FunIconList">
                           <div (click)="statisSwitch()" class="btn btn-primary ft14"  style="width: 130px;">{{statis.text}}</div>
                            <div class="btn btn-primary ft14"  (click)="downLoad()" >下载</div>
                    </div>-->
                    <div class="AllAddDetails" style="padding-top:60px">
                        <div class="dbody">
                                <table class="report-tb1" border="1">
                                        <thead>
                                            <tr>
                                                <td>日期</td>
                                                <td>姓名</td>
                                                <td>部门</td>
                                                <td>签到时间</td>
                                                <td>签到地点</td>
                                                <td>备注</td>
                                                <td>操作</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="check-detail"  *ngFor="let item of totalList">
                                                    <td>{{item.createTime}}</td>
                                                    <td>{{item.nickname}}</td>
                                                    <td>{{item.department}}</td>
                                                    <td>{{item.createOn}}</td>
                                                    <td>{{item.address}}</td>
                                                    <td>{{item.remark}}</td>
                                                    <td>查看</td>
                                            </tr>
                                            <tr *ngIf="totalList.length==0"><td colspan="11" style="color:#999;text-align:center">暂时没有相关记录信息</td></tr>
                                        </tbody>
                                </table>
                            </div>
                            <div class="flright clear" *ngIf="totalList.length>0">
                                    <ngb-pagination [collectionSize]="totalPage" [(page)]="pageCurrent" [boundaryLinks]="true"  [maxSize]="5" (pageChange)="pageChange($event)"></ngb-pagination>
                             </div>
                    </div>
    
                </div>
    
            </div>
        </div>
    </div>
    